<form>
  <div class="form-group">
  	<div class="row">
	  	<div class="col-xs-12">
  			<label for="eventName">Event Name</label>
    		<input type="text" class="form-control" id="eventName" [value]="event.eventName">	
  		</div>
  	</div>
  </div>
  <div class="form-group">
  	<div class="row">
	  	<div class="col-xs-12">
  			<label for="location">Location</label>
    		<input type="text" class="form-control" id="location" [value]="event.location">	
  		</div>
  	</div>
  </div>
  <div class="form-group">
  	<div class="row">
	  	<div class="col-xs-6">
  			<label for="startTime">Start Time</label>
    		<input type="text" class="form-control" id="startTime" [value]="event.startTime">	
  		</div>
  		<div class="col-xs-6">
  			<label for="endTime">End Time</label>
  			<input type="text" class="form-control" id="endTime" [value]="event.endTime">
  		</div>
  	</div>
  </div>
</form>