<div class="container-fluid">
	<form>
	  <div class="form-group">
	  	<div class="row">
		  	<div class="col-xs-12">
	  			<label for="fullName">Name</label>
	    		<input type="email" class="form-control" id="fullName" [value]="user.fullName">	
	  		</div>
	  	</div>
	  </div>
	  <hr>
		<div class="form-group">
			<div class="row">
				<div class="col-xs-12">
					<label for="createdEvents">Your Events</label>
					<app-event-details *ngFor="let userEvent of userCreatedEvents" [event]="userEvent"></app-event-details>
				</div>
			</div>
		</div>
		<hr>
	  <div class="form-group">
	  	<div class="row">
	  		<div class="col-xs-12">
  			  <label for="categories">Hobbies/Interests</label>
			    <ul>
			    	<li *ngFor="let category of user.categories">
							<span class="label label-success">{{category}}</span>
			    	</li>
			    </ul>
	  		</div>
	  	</div>
	  </div>
	  <hr>
	</form>	
</div>
