<!-- Button trigger modal -->
<!-- Default is hidden, will automatically trigger upon failed authenitication -->
<button #openLoginModal class="btn btn-primary" id="openLoginModal" type="button" [hidden]="true" data-toggle="modal" data-target="#loginModal">
  Launch demo modal
</button>

<!-- Modal -->
<div #loginModal class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center" id="loginModalTitle">Welcome to Live+</h3>
      </div>
      <div class="modal-body text-center">
        In order to use our app, please login!
      </div>
      <div class="modal-footer align-self-center">
        <button type="button" class="btn btn-secondary" (click)=auth.login()>Login</button>
      </div>
    </div>
  </div>
</div>
